@page
@model _RegPage.Pages.AllPages.EditModel
@{
    Layout = "LoginLayout.cshtml";
}



<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Update Credentials</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <label asp-for="Credentials.Salutation" class="col-sm-4 col-form-label">Salutation</label>
                            <div class="col-sm-8">
                                <select class="form-select" asp-for="Credentials.Salutation">
                                    <option value="Mr" asp-for="Credentials.Salutation">Mr</option>
                                    <option value="Ms" asp-for="Credentials.Salutation">Ms</option>
                                    <option value="Mrs" asp-for="Credentials.Salutation">Mrs</option>
                                </select>
                                <span asp-validation-for="Credentials.Salutation" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.FullName" class="col-sm-4 col-form-label">FullName</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="Credentials.FullName" />
                                <span asp-validation-for="Credentials.FullName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.Email" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="Credentials.Email" readonly/>
                                <span asp-validation-for="Credentials.Email" class="text-danger"></span>
                            </div>
                        </div> 

                        <div class="row mb-3">
                            <label asp-for="Credentials.MobileNumber" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="Credentials.MobileNumber" />
                                <span asp-validation-for="Credentials.MobileNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.DOB" class="col-sm-4 col-form-label">Date of Birth</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" asp-for="Credentials.DOB" />
                                <span asp-validation-for="Credentials.DOB" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.Gender" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <label>Male</label>
                                <input type="radio" value="Male" asp-for="Credentials.Gender" style="margin-right: 20px;" />
                                <label>Female</label>
                                <input type="radio" value="Female" asp-for="Credentials.Gender" />
                            </div>
                            <span asp-validation-for="Credentials.Gender" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.Password" class="col-sm-4 col-form-label" >Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="Credentials.Password"  />
                                <span asp-validation-for="Credentials.Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Credentials.ConfPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="Credentials.ConfPassword" />
                                <span asp-validation-for="Credentials.ConfPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" asp-for="Credentials.IsChecked" readonly>  I accept the terms and conditions

                            <span asp-validation-for="Credentials.IsChecked" class="text-danger"></span>
                        </div> 
                       

                       <hr />
                       
                        <div class="row mb-1">
                            <div class="col-6 mb-1">
                                <button type="submit" class="btn btn-success rounded-pill align-content-center w-100">Update</button>
                            </div>
                            <div class="col-6 mb-1">
                                <a asp-page="ViewDetails" class="btn btn-primary rounded-pill align-content-center w-100">Back to List</a>

                            </div>


                        </div>

                    </form>
                </div>
            
            </div>
        </div>
    </div>
</div>

